<mat-card>
    <mat-card-title>Choisi une recette</mat-card-title>

    <mat-card-content>
      <div *ngIf="!recipes.length">Aucune recette trouvée !</div>
  
      <mat-list *ngIf="recipes.length">
        <mat-list-item *ngFor="let r of recipes">
          <mat-icon class="clickable" matListIcon (click)="delete(r)">delete</mat-icon>
          <h3 class="clickable" [routerLink]="['/recipe/' + r.id]" matLine> {{r.title}} </h3>
          <p matLine>
            <span> {{r.difficulty}} </span>
            <span class="demo-2"> -- {{r.preparationTime + r.cookingTime}}mn </span>
          </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
</mat-card>